.subpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #ccc3a4 solid 4px;
  border: #ccc3a4 solid 0.25rem;
  padding: 80px 35.008px 20px 35.008px;
  padding: 5rem 2.188rem 1.25rem 2.188rem;
  min-height: 100vh;
}

.subpage > h1 {
  font-size: 40px;
  font-size: 2.5rem;
}

.price-list {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  grid-row-gap: 40px;
  row-gap: 40px;
  row-gap: 2.5rem;
  padding: 10px 30px;
  padding: 0.625rem 1.875rem;
  margin: 20px 0;
  margin: 1.25rem 0;
  width: max(300px, min(75%, 100%));
  font-size: 24px;
  font-size: 1.5rem;
  border: #ccc3a4 solid 6px;
  border: #ccc3a4 solid 0.375rem;
  background-color: #e0d9c0;
}

.inner-price {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  width: 100%;
}

.inner-price > h2 {
  text-align: center;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  font-size: 60px;
  font-size: 3.75rem;
}

.inner-price > h3,
.inner-price > ul,
.price-list > a,
.inner-price > a {
  width: -moz-fit-content;
  width: fit-content;
}

.inner-price > ul {
  margin: 0 40px 0 12px;
  margin: 0 2.5rem 0 0.75rem;
}

.price-list > a,
.inner-price > a {
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  color: #c97754;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.inner-price > a > p:before {
  content: ">";
}

.price {
  text-align: center;
  text-shadow: 0 1.95px #747474;
  font-size: 28px;
  font-size: 1.75rem;
}

.price > h4 {
  font-size: 32px;
  font-size: 2rem;
}

.price > img {
  border: #ccc3a4 solid 5px;
}

.left {
  align-self: start !important;
  justify-self: start !important;
  place-self: start !important;
  text-align: left !important;
  margin-left: 12px !important;
  margin-left: 0.75rem !important;
}

.right {
  align-self: end !important;
  justify-self: end !important;
  place-self: end !important;
  text-align: right !important;
  margin-right: 12px !important;
  margin-right: 0.75rem !important;
}

.price-list > div > img {
  max-width: 40%;
  height: auto;
  margin-top: 29.008px;
  margin-top: 1.813rem;
}

.price-list > a > p {
  text-align: center;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}

.terms-of-service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(300px, min(75%, 100%));
  margin: 20px 0;
  margin: 1.25rem 0;
  padding: 26px 46px;
  padding: 1.625rem 2.875rem;
  border: #ccc3a4 6px solid;
  border: #ccc3a4 0.375rem solid;
  background-color: #e0d9c0;
  color: #080808;
  font-size: 20px;
  font-size: 1.25rem;
}

.terms-of-service > div {
  width: 100%;
}

.terms-of-service > .title {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-of-service > .title > h2 {
  font-size: 48px;
  font-size: 3rem;
  text-align: center;
}

.terms-of-service > .rulesdiv0 {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.terms-of-service > .rulesdiv1 {
  margin: 12.8px 0;
  margin: 0.8rem 0;
}

.terms-of-service > .rulesdiv1 > ul li {
  margin: 7.2px 0;
  margin: 0.45rem 0;
}
